<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>bll.dispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorAltaPersona</servlet-name>
        <servlet-class>bll.controladorAltaPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorBajaPersona</servlet-name>
        <servlet-class>bll.controladorBajaPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorModificarPersona</servlet-name>
        <servlet-class>bll.controladorModificarPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorModificarPersona2</servlet-name>
        <servlet-class>bll.controladorModificarPersona2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/dispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorAltaPersona</servlet-name>
        <url-pattern>/controladorAltaPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorBajaPersona</servlet-name>
        <url-pattern>/controladorBajaPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorModificarPersona</servlet-name>
        <url-pattern>/controladorModificarPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorModificarPersona2</servlet-name>
        <url-pattern>/controladorModificarPersona2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
