#formulario{
    margin: 50px auto;
    width: 700px;
    text-align: center;
}

#formulario table{
    margin: 50px;
    width: 600px;
}

th{
    text-align: center;
}

.logoPartido{
    height: 70px;
}